/**************************** FOOTER *******************************/
.Footer {
    width: 100%;
    border-top: 3px double $maincolor;
    padding: 0.7rem;
    background-color: white;

    h5 {
        margin-bottom: 0;
    }
}