// Formularios
.box-formulario {
    width: 450px;
}

.title-formularios {
    font-size: 1.8em;
    color: $secondarycolor;
}

box-formulario-empleados {
    width: 100%;
}

.box-formulario-empleados .col-6 {
    padding-left: .1em;
}

.box-formulario-empleados label {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 0;
}

.box-formulario-empleados .form-group {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.box-formulario-empleados input,
.box-formulario-empleados select {
    padding: 0;
    line-height: 1em;
    height: 2em;
}

.box-formulario-empleados select {
    text-align: center;
}

.bootstrap-select {
    .filter-option-inner-inner {
        font-size: 0.8em !important;
    }
}

.dropdown-menu {
    .bs-searchbox {
        input {
            font-size: 0.8em !important;
        }
    }

    .text {
        font-size: 0.8em !important;
    }

}


.empleados-col-1 label {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.box-formulario-registros {
    width: 600px;
}

.generadores {
    font-size: .8em;
    margin-bottom: .4em;
    width: 120px;
}

.generadores i {
    font-size: 1em;
}

.form-inputs {
    width: 70%;
    margin: 2em auto;
}

.form-inputs>input {
    margin: .5em auto;
}

.form-inputs>.btn {
    width: 49%;
}

.btn-primary {
    background-color: $maincolor !important;
    border: none;
    opacity: .8;
}

.btn-light {
    border-color: $maincolor;
}

.btn-primary:hover {
    opacity: 1;
}

.form-inputs>#salir {
    display: inline-block;
    margin-left: auto;
    border-color: $maincolor;
}

.searchbox {

    input {
        width: 85%;
        float: left;
    }

    .selectSearch {
        width: 73% !important;
        float: left;
    }

    button {
        width: 12%;
        float: right;
        line-height: 2rem;
        border: none;
        font-size: 1.2rem;
        color: $borderColor;
        background-color: transparent;
        padding: .2rem;
        cursor: pointer;

        &:focus,
        &:active {
            border: none;
        }
    }
}

#button_activar,
#button_desactivar {
    display: none;
}

@media (max-width:575px) {
    .box-formulario {
        max-width: 320px !important;

        .cancelar {
            text-align: right;

            button {
                text-align: center;
            }
        }
    }

    .boton-mobile-regresar {
        max-width: 320px;
        margin-left: 0;
        margin-right: 0;

        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width:767px) {
    .menu-box-modulos {
        display: none;
    }
}

@media (min-width:768px) {
    .boton-mobile-regresar {
        display: none;
    }
}