// Estilos Generales

* {
    font-size: 16px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.1em;
}

.posicionador {
    height: 95px;
    width: 100%;
}

.posicionador-bottom {
    height: 50px;
    width: 100%;
}

.active {
    font-weight: bold;
    color: $secondarycolor;
}

.active:hover {
    color: $secondarycolor;
}


.deshabilitado {
    opacity: .6;
}

.textoMainColor {
    color: $maincolor;
}

.textoSecondaryColor {
    color: $secondarycolor;
}

.mainBackground {
    background-image: url(../images/background02.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 35px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -999999999;
}

.mainBackground2 {
    background-image: url(../images/background03.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 35px;
    right: 0px;
    width: 100%;
    height: 80% !important;
    opacity: 0.7;
    z-index: -999999999;
}

.ml-n2 {
    margin-left: -4rem !important;
}

.display-4 {
    font-size: 2.5rem !important;
}

.positionFixed {
    position: fixed;
}

.oculto {
    display: none !important;
}

@media (max-width: 575px) {
    .logo-principal {
        display: none !important;

        img {
            display: none !important;
        }
    }

    .mainBackground2 {
        opacity: 0.2 !important;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    .logo-principal {
        display: block;

        img {
            width: 34%;
            right: 30px;
        }
    }

    .mainBackground {
        height: auto;
        width: 90%;
    }
}

@media (min-width:768px) and (max-width: 880px) {
    .logo-principal {
        img {
            width: 350px !important;
            left: 360px;
        }
    }
}