// Estilos especiales de la página de login

.login-box {
    border: 2px solid $secondarycolor;
    width: 40%;
    margin: auto;
    margin-top: 10%;
}

.title-login {
    background-color: $maincolor;
    border-bottom: 2px solid $secondarycolor;
}

.title-login>h2 {
    margin: 0 1em;
    line-height: 2em;
}