ul>li {
    margin-top: .5em;
    margin-bottom: .5em;
}

ul>li>ul {
    margin-bottom: .5em;
}

ul>li>ul>li:last-child {
    margin-bottom: 1em;
}


/* MENU PRINCIPAL */

.menu-box {
    margin-left: 2em;
    position: fixed;
    width: 280px !important;
}

.title-menu {
    background-color: $maincolor;
    border-bottom: 2px solid $secondarycolor;
}

.title-menu>h2 {
    margin: 0 1em;
    line-height: 2em;
}

.menu-box {
    width: 75%;
    margin-top: 1.5em;
    border: 2px solid $secondarycolor;
    padding: 0;
}

nav>ul>li>ul>li>a,
nav>ul>li>a {
    text-decoration: none;
    color: $maincolor;
}

nav>ul>li>ul>li>a:hover,
nav>ul>li>a:hover {
    text-decoration: none;
    color: $secondarycolor;
}

ul {
    list-style: none;
    margin-left: -1.4em;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.salir-menu {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: .8em;
    margin-bottom: .8em;
    border-color: $maincolor;
    padding-left: 2.2em;
    padding-right: 2.2em;
}

@media (max-width: 575px) {
    .menu-box {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: static;

        nav {
            margin-left: auto;
            margin-right: auto;

            ul {
                padding-left: 1.5rem;

                a {
                    font-weight: bold;
                }
            }
        }

        .salir-menu {
            margin-left: auto;
            margin-right: auto;

            span {
                display: none !important;
            }
        }
    }
}