// Reportes

table,
thead,
tbody,
th,
tr,
td {
    border: none !important;
}

.fa-file-pdf-o {
    color: red !important;
}

.box-reporte-md {
    width: 100% !important;
}

.box-reporte-xs {
    width: 400px;
}

.box-reporte {
    overflow-x: hidden;
}

.tabla-md {
    width: 100%;
}

.tabla-md tr {
    height: 2em !important;
}

.tabla-md th,
.tabla-md td {
    text-align: center;
    line-height: 1.7em;
    padding: 0.2rem 0.9rem !important;
}

.tabla-md td {
    width: 100%;
    font-size: 0.7rem;
    white-space: nowrap;
}

.tabla-md th {
    background-color: white;
    font-size: 0.8rem;
}

thead,
th {
    border-bottom: 3px double $secondarycolor !important;
}

.id-col {
    width: 10px !important;
}

#tabla-empleados th,
#tabla-incidentes th {
    font-size: 0.8em;
    min-width: 150px;
}

table.dataTable {
    .columnaId {
        width: 20px !important;
    }
}

#tbllistado {
    .selected {
        background-color: $maincolor !important;
        color: white;

        .enlaceEvidencia {
            color: white;
        }
    }

    .focus {
        box-shadow: inset 0 0 1px 2px $secondarycolor;
    }

    .registroActivado,
    .registroDesactivado {
        color: white;
        font-size: 0.9rem !important;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .registroActivado {
        background-color: $maincolor !important;
    }

    .registroDesactivado {
        background-color: red !important;
    }

    i.permisoAsignado {
        color: $secondarycolor;
    }

    .permisoAsignado {
        font-size: 0.7rem !important;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .enlaceEvidencia,
    .sinEvidencia {
        font-size: 0.7rem !important;
    }

    .enlaceEvidencia {
        text-decoration: none;
        color: $maincolor;
    }
}

.dt-button {
    background-color: rgba($color: $maincolor, $alpha: 0.2) !important;

    span {
        font-size: 0.7rem !important;
        font-weight: normal;
    }

    i {
        font-size: 1.2rem !important;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        &.fa-files-o {
            color: blue;
        }

        &.fa-file-excel-o {
            color: green;
        }

        &.fa-file-pdf-o {
            color: red;
        }
    }
}

@media (max-width: 767px) {
    .boton-mobile-regresar-reportes {
        margin-left: auto;
        margin-right: auto;
    }
}