@import './variables';
@import './generales';
@import './_title-page';
@import './login-page';
@import './menu';
@import './forms';
@import './reportes';
@import './footer';


.main-box {
    padding: 0;
    min-height: 100vh;
}

.positionFixed {
    position: fixed;
}




.form-inputs {
    width: 70%;
    margin: 2em auto;
}

.form-inputs>input {
    margin: .5em auto;
}

.form-inputs>.btn {
    width: 49%;
}

.btn-primary {
    background-color: $maincolor !important;
    border: none;
    opacity: .8;
}

.btn-light {
    border-color: $maincolor;
}

.btn-primary:hover {
    opacity: 1;
}

.form-inputs>#salir {
    display: inline-block;
    margin-left: auto;
    border-color: $maincolor;
}







.searchbox {
    input {
        width: 85%;
        float: left;
    }

    button {
        width: 12%;
        float: right;
        line-height: 2rem;
        border: none;
        font-size: 1.2rem;
        color: $borderColor;
        background-color: transparent;
        padding: .2rem;
        cursor: pointer;

        &:focus,
        &:active {
            border: none;
        }
    }
}

#button_activar,
#button_desactivar {
    display: none;
}