@import './variables';
@import './generales';
@import './_title-page';
@import './login-page';
@import './menu';
@import './forms';
@import './footer';


.main-box {
    padding: 0;
    min-height: 100vh;
}

.main-content {
    margin-top: 95px;
}

.positionFixed {
    position: fixed;
}




.form-inputs {
    width: 70%;
    margin: 2em auto;
}

.form-inputs>input {
    margin: .5em auto;
}

.form-inputs>.btn {
    width: 49%;
}

.btn-primary {
    background-color: $maincolor !important;
    border: none;
    opacity: .8;
}

.btn-light {
    border-color: $maincolor;
}

.btn-primary:hover {
    opacity: 1;
}

.form-inputs>#salir {
    display: inline-block;
    margin-left: auto;
    border-color: $maincolor;
}





// Reportes
.box-reporte-md {
    width: 600px;
}

.box-reporte-xs {
    width: 350px;
}

.box-reporte {
    overflow-x: hidden;
}

.tabla-md {
    width: 100%;
}

.tabla-md tr {
    height: 2.3em !important;
}

.tabla-md th,
.tabla-md td {
    text-align: center;
    line-height: 2em;
    border: 1px solid $secondarycolor;
    padding: .2rem 0.9rem !important;
}

.tabla-md th {
    font-size: 0.8rem;
}

.tabla-md td {
    width: 100%;
    font-size: 0.7rem;
    white-space: nowrap;
}

.tabla-md th {
    background-color: $maincolor;
}

#tabla-empleados th,
#tabla-incidentes th {
    font-size: .8em;
    min-width: 150px;
}

.searchbox {
    input {
        width: 85%;
        float: left;
    }

    button {
        width: 12%;
        float: right;
        line-height: 2rem;
        border: none;
        font-size: 1.2rem;
        color: $borderColor;
        background-color: transparent;
        padding: .2rem;
        cursor: pointer;

        &:focus,
        &:active {
            border: none;
        }
    }
}

#button_activar,
#button_desactivar {
    display: none;
}