* {
  font-size: 16px;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em;
}

.posicionador {
  height: 95px;
  width: 100%;
}

.posicionador-bottom {
  height: 50px;
  width: 100%;
}

.active {
  font-weight: bold;
  color: #004d40;
}

.active:hover {
  color: #004d40;
}

.deshabilitado {
  opacity: 0.6;
}

.textoMainColor {
  color: #42b983;
}

.textoSecondaryColor {
  color: #004d40;
}

.mainBackground {
  background-image: url(../images/background02.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 35px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -999999999;
}

.mainBackground2 {
  background-image: url(../images/background03.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 35px;
  right: 0px;
  width: 100%;
  height: 80% !important;
  opacity: 0.7;
  z-index: -999999999;
}

.ml-n2 {
  margin-left: -4rem !important;
}

.display-4 {
  font-size: 2.5rem !important;
}

.positionFixed {
  position: fixed;
}

.oculto {
  display: none !important;
}

.title-page-login {
  border-bottom: 3px double #42b983;
  padding: 0.7rem;
  background-color: white;
}
.title-page-login h1 {
  margin-bottom: 0;
}

.title-page {
  border-bottom: 3px double #42b983;
  padding: 0.2rem;
  background-color: white;
}
.title-page .logo-box {
  padding: 0.1rem;
  display: inline;
}
.title-page .logo-box img {
  width: 180px;
}
.title-page h1 {
  margin: 0 1em;
}
.title-page h1,
.title-page p {
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 0.7rem;
}

.logo-loginpage {
  position: absolute;
  padding: 0.7rem;
}
.logo-loginpage img {
  width: 300px;
}

.login-box {
  border: 2px solid #004d40;
  width: 40%;
  margin: auto;
  margin-top: 10%;
}

.title-login {
  background-color: #42b983;
  border-bottom: 2px solid #004d40;
}

.title-login > h2 {
  margin: 0 1em;
  line-height: 2em;
}

ul > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul > li > ul {
  margin-bottom: 0.5em;
}

ul > li > ul > li:last-child {
  margin-bottom: 1em;
}

/* MENU PRINCIPAL */
.menu-box {
  margin-left: 2em;
  position: fixed;
  width: 280px !important;
}

.title-menu {
  background-color: #42b983;
  border-bottom: 2px solid #004d40;
}

.title-menu > h2 {
  margin: 0 1em;
  line-height: 2em;
}

.menu-box {
  width: 75%;
  margin-top: 1.5em;
  border: 2px solid #004d40;
  padding: 0;
}

nav > ul > li > ul > li > a,
nav > ul > li > a {
  text-decoration: none;
  color: #42b983;
}

nav > ul > li > ul > li > a:hover,
nav > ul > li > a:hover {
  text-decoration: none;
  color: #004d40;
}

ul {
  list-style: none;
  margin-left: -1.4em;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.salir-menu {
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-right: 0.8em;
  margin-bottom: 0.8em;
  border-color: #42b983;
  padding-left: 2.2em;
  padding-right: 2.2em;
}

.box-formulario {
  width: 450px;
}

.title-formularios {
  font-size: 1.8em;
  color: #004d40;
}

box-formulario-empleados {
  width: 100%;
}

.box-formulario-empleados .col-6 {
  padding-left: 0.1em;
}

.box-formulario-empleados label {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
}

.box-formulario-empleados .form-group {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.box-formulario-empleados input,
.box-formulario-empleados select {
  padding: 0;
  line-height: 1em;
  height: 2em;
}

.box-formulario-empleados select {
  text-align: center;
}

.bootstrap-select .filter-option-inner-inner {
  font-size: 0.8em !important;
}

.dropdown-menu .bs-searchbox input {
  font-size: 0.8em !important;
}
.dropdown-menu .text {
  font-size: 0.8em !important;
}

.empleados-col-1 label {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.box-formulario-registros {
  width: 600px;
}

.generadores {
  font-size: 0.8em;
  margin-bottom: 0.4em;
  width: 120px;
}

.generadores i {
  font-size: 1em;
}

.form-inputs {
  width: 70%;
  margin: 2em auto;
}

.form-inputs > input {
  margin: 0.5em auto;
}

.form-inputs > .btn {
  width: 49%;
}

.btn-primary {
  background-color: #42b983 !important;
  border: none;
  opacity: 0.8;
}

.btn-light {
  border-color: #42b983;
}

.btn-primary:hover {
  opacity: 1;
}

.form-inputs > #salir {
  display: inline-block;
  margin-left: auto;
  border-color: #42b983;
}

.searchbox input {
  width: 85%;
  float: left;
}
.searchbox .selectSearch {
  width: 73% !important;
  float: left;
}
.searchbox button {
  width: 12%;
  float: right;
  line-height: 2rem;
  border: none;
  font-size: 1.2rem;
  color: #ced4da;
  background-color: transparent;
  padding: 0.2rem;
  cursor: pointer;
}
.searchbox button:focus, .searchbox button:active {
  border: none;
}

#button_activar,
#button_desactivar {
  display: none;
}

.formulario-registros label,
.formulario-registros input {
  font-size: 0.8rem;
}
.formulario-registros .inputFile {
  font-size: 0.6rem;
}
.formulario-registros #nombresApellidos {
  margin-top: -1.95rem;
}

table,
thead,
tbody,
th,
tr,
td {
  border: none !important;
}

.box-reporte-md {
  width: 100% !important;
}

.box-reporte-xs {
  width: 400px;
}

.box-reporte {
  overflow-x: hidden;
}

.tabla-md {
  width: 100%;
}

.tabla-md tr {
  height: 2em !important;
}

.tabla-md th,
.tabla-md td {
  text-align: center;
  line-height: 1.7em;
  padding: 0.2rem 0.9rem !important;
}

.tabla-md td {
  width: 100%;
  font-size: 0.7rem;
  white-space: nowrap;
}

.tabla-md th {
  background-color: white;
  font-size: 0.8rem;
}

thead,
th {
  border-bottom: 3px double #004d40 !important;
}

.id-col {
  width: 10px !important;
}

#tabla-empleados th,
#tabla-incidentes th {
  font-size: 0.8em;
  min-width: 150px;
}

table.dataTable .columnaId {
  width: 20px !important;
}

#tbllistado .selected {
  background-color: #42b983 !important;
}
#tbllistado .focus {
  box-shadow: inset 0 0 1px 2px #004d40;
}
#tbllistado .registroActivado,
#tbllistado .registroDesactivado {
  color: white;
  font-size: 0.9rem !important;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
#tbllistado .registroActivado {
  background-color: #42b983 !important;
}
#tbllistado .registroDesactivado {
  background-color: red !important;
}

.dt-button span {
  font-size: 0.7rem !important;
  font-weight: normal;
}
.dt-button i {
  font-size: 1.2rem !important;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/**************************** FOOTER *******************************/
.Footer {
  width: 100%;
  border-top: 3px double #42b983;
  padding: 0.7rem;
  background-color: white;
}
.Footer h5 {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
